.content-wrapper {
    min-height: 1000px !important;
}

aside.main-sidebar.fixed-sidebar {
    top: 0 !important;
}

 aside.main-sidebar .sidebar {
    position: fixed;
    width: 200px;
    overflow-x: scroll;
    height: 100%;
    overflow: auto;
}

body.sidebar-mini.skin-green.sidebar-collapse aside.main-sidebar .sidebar .user-panel {
    width: 50px;
}

body.sidebar-mini.skin-green.sidebar-collapse aside.main-sidebar .sidebar ul li.active {
    width: 50px !important;
}

aside.main-sidebar .sidebar .sidebar-menu {
    overflow: hidden;
}

.main-sidebar .sidebar ul.sidebar-menu li a i {
    font-size: 13px;
}


.sidebar-mini.skin-green.sidebar-collapse .main-sidebar .sidebar ul.sidebar-menu li a i {
    font-size: 20px;
}

.sidebar-mini.skin-green.sidebar-collapse .main-sidebar .sidebar::-webkit-scrollbar {
  display: none;
}


aside.main-sidebar .sidebar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
aside.main-sidebar .sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
aside.main-sidebar .sidebar::-webkit-scrollbar-thumb {
  background: #008bff; 
}

/* Handle on hover */
aside.main-sidebar .sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.small-box > .small-box-footer {
    border-radius: 0px 0px 10px 10px;
}

.dashboard [class^="col-"] {
    padding-right: 15px;
}

#profit-calculation .box-header.with-border h3.box-title small {
    font-size: 18px;
    color: #444450;
    font-weight: 700;
}

.content-header > .breadcrumb {
    padding: 3px 5px;
}

.modal-dialog .box-body {
    padding: 0;
}

.modal-dialog .box-body .form-group {float: left;margin: 10px;}

.modal-dialog .box-body .form-group .radio {padding: 10px;}

.modal-dialog .box-body .form-group .text-center {
    padding: 10px;
}


.box-info form .form-group textarea {
    margin: 10px 0;
}

.sidebar-mini.skin-green.sidebar-collapse .main-header a.sidebar-toggle:hover:after {
    border-left-color: #008bff !important;
    border-right-color:#fff !important;
}

.sidebar-mini.skin-green.sidebar-collapse .main-header a.sidebar-toggle:after {
    border-left-color: #008bff !important;
    border-right-color:#fff !important;
}

.sidebar-mini.skin-green a.sidebar-toggle:after {
    border-left-color: #fff;
    border-right-color: #008bff;
}

.main-sidebar .sidebar ul.sidebar-menu li a {
    padding: 6px 0px 6px 6px;
    font-size: 10px;
    cursor: pointer;
}

.main-sidebar .sidebar ul.sidebar-menu li a i{
    top:15px;
    right:0;
}

.main-sidebar .sidebar ul.sidebar-menu li ul li:before{
    width: 5px;
    top: 14px;
}

.main-sidebar .sidebar ul.sidebar-menu li ul {
    padding: 0px 0 0 11px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li {
    width: 50px;
}


#reprot_stock_parent_wrapper form.ng-pristine.ng-valid .box-header {
    display: inline-block;
    margin: 10px 0;
}

#reprot_stock_parent_wrapper form.ng-pristine.ng-valid .box-header input {
    margin-top: 10px;
}



#create-supplier-form .form-group {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin: 10px 0px 10px 0;
}

#create-supplier-form .form-group label {
    text-align: left;
    padding: 0;
}

#create-supplier-form .form-group input {
    box-shadow: none;
    background: #eeeeee47;
    border: 1px solid #ddd;
}

#create-supplier-form .form-group textarea {
    background: #eeeeee47;
    box-shadow: none;
}

#create-supplier-form .form-group .filter-searchbox {
    border: 0;
}

#create-supplier-form .form-group .checkbox.selector {
    padding: 10px 30px;
    border: 1px solid #ddd;
    background: #f5f5f5;
    border-bottom: 0;
}

#create-supplier-form .form-group .store-well {
    border-top: 0;
}

#create-supplier-form .form-group span {background: #fafafa;}

#reprot_stock_parent_wrapper form.ng-pristine.ng-valid .box-header input {
    box-shadow: none;
    cursor: text;
}

#reprot_stock_parent_wrapper form.ng-pristine.ng-valid .box-header input[type="submit"] {
    width: 110px;
    background: #9c9c9c;
    color: #fff;
    font-weight: 500;
}
.rep-for-pag .box-header {
    display: inline-block;
}

.rep-for-pag .box-header input {
    margin: 10px 0;
    cursor:text;
}

.rep-for-pag .box-header input[type="submit"] {
    width: 110px;
    background: #008bff;
    color: #fff;
    font-weight: 500;
    cursor:pointer;
}

.modal-body form .box-body .form-group label {text-align: left;width: 170px;padding: 0px 0px 0 10px;}

.modal-body form .box-body .form-group input {width: 100%;}

.modal-body form .box-body hr {border: 1px solid #ddd;margin: 27px;}

.mod-comm-cla .form-group {
    float: none !important;
}

.mod-comm-cla .form-group table tbody tr td button {width: 30px;margin: 10px 0px 0px 0px;display: inline-block;}

.mod-comm-cla .form-group table tbody tr td {
    text-align: center;
}

.mod-comm-cla .form-group table tbody tr td button.editremoveBtn {
    background: red;
    border: 0;
    color: #fff;
}

.mod-comm-cla .form-group table tbody tr td button.editaddBtn {
    background: green;
    border: 0;
    color: #fff;
}


.odd.selected td {
    color: #000;
}

.odd.selected td a {
     color: #000 !important; 
}

.even.selected td {
    color: #000;
    background: #fff;
}

.even.selected td a {
    color: #000 !important; 
}

.com-det-for-list {
    width: 100% !important;
    margin: 20px 0 !important;
    padding: 0;
    background: #408bffad;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.res-sav-for button span {background: transparent !important;}

.modal-body form.form-horizontal .form-group {
    float: none;
}

.modal-body .form-group input[type="checkbox"] {
    width: auto !important;
    margin: 10px;
    padding: 0;
    margin-left: -20px;
    vertical-align: middle;
    margin-top: 4px;
}

.modal-body .form-group input[type="radio"] {
    width: auto !important;
    margin: 10px;
    padding: 0;
    margin-left: -20px;
    vertical-align: middle;
    margin-top: 4px;
}

.modal-body .form-group.permission-list input[type="checkbox"] {
    margin-left: 0;
}

.inv-tab-list {
    overflow: visible;
}

.inv-tab-list table#invoice-invoice-list {
    overflow-x: scroll;
    display: inline-block;
}

.box.box-info form .box-body .form-group {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin: 10px 0px 10px 0;
}

.box.box-info form .box-body .form-group.d-none {
    display: none;
}

.box.box-info form .box-body .form-group label {
    text-align: left;
    padding: 0px 0px 0 10px;
}

.box.box-info form .box-body .form-group input {
    box-shadow: none;
    background: #eeeeee47;
    border: 1px solid #ddd;
    cursor: text;
}

.box.box-info form .box-body .form-group textarea {
    margin: 0;
}

.bir-inn2 {
        /* width: auto; */
    display: inline-block;
    /* margin: 0px 25px 0 15px; */
}


.bir-inn2 .select2 {
    min-width: auto;
}

/*.box.box-info form .box-body .form-group.birt-custo {
    width: 100%;
}
*/
/*.box.box-info form .box-body .form-group.birt-custo label {
    width: 135px;
}*/

.box.box-info form .box-body .form-group.birt-custo label.bir-inn-label1 {
    text-align: center;
    width: 153px;
}

.box.box-info form .box-body .form-group.family-cust {
    width: 100%;
}

.box.box-info form .box-body .form-group.family-cust label {
    width: 135px;
}

td.btn-cus-det {width: 14%;}

td.btn-cus-det button {
    display: inline-block;
    width: 30px;
    box-shadow: none;
    border-radius: 0;
    border-color: transparent;
}

td.btn-cus-det button.addBtn.btn-add-cus-fam {
    background: #9fd300;
    border: 0;
    height: 30px;
    vertical-align: middle;
    color: #fff;
}

.table-invoic-detail thead tr th {
    width: 13%;
    text-align: center;
    font-size: 13px;
    background: #129cfe !important;
    color: #fff;
    border: 1px solid #ffffff;
    /* border: 1px solid #9c9c9c; */
    border-top: 1px solid #fff !important;
    border-right: 1px solid #fff;
}

.table-invoic-detail thead tr td {}

.table-invoic-detail tbody tr td {
    padding: 15px 5px;
    text-align: center;
    border: 1px solid #9c9c9c;
}

.table-invoic-detail tbody {
}

.table-invoic-detail tfoot tr th {
    border: 1px solid #9c9c9c;
    text-align: center;
    font-size: 15px;
    padding: 15px 5px;
}

.invoice-htm-doc .form-group {
    padding: 10px 0;
}

.invoice-htm-doc .form-group label {
    left: 16px;
}

.inv-tab-list div#invoice-invoice-list_filter input {
    width: 350px;
}

/*table.dataTable.fixedHeader-floating {
    position: static !important;
}*/

#form-expense .form-group label {
    left: 16px;
}

.pos-set-up a {
    background: #008bff;
    color: #fff;
}

.pos-set-up a i {
    color: #fff;
    vertical-align: middle;
}

.pos-set-up a span {
    color: #fff;
}

.pos-set-up a:hover {
    background: #0268bf !IMPORTANT;
}

.to-inv-cus i {
    vertical-align: middle;
}

.pos-set-up.active a {
    background: #008bff !important;
}

.pos-set-up.active a:hover {
    background: #0268bf !IMPORTANT;
}



.modal-lg #filemanager .btn-group {
    margin: 10px 0px;
    list-style: none;
}

.modal-lg #filemanager .btn-group li a {
    background: #fff;
    padding: 10px;
    margin: 11px;
}

.modal-lg #filemanager .btn-group {
    margin: 10px 0px;
    list-style: none;
}

.modal-lg #filemanager .btn-group li a {
    background: #fff;
    padding: 10px;
    margin: 11px;
}

@media screen and (max-width: 1024px){
   
    /*.bir-inn2 {
    margin: 5px 18px;
    }*/

    .box.box-info form .box-body .form-group {
        width: 100%;
    }


    /*.box.box-info form .box-body .form-group.birt-custo label {
        width: 100%;
    }
*/
    .box.box-info form .box-body .form-group label {
        margin: 10px 7px;
    }
}

@media screen and (max-width: 991px){
    
    /*.bir-inn2 {
    margin: 5px 18px;
    }*/

    .box.box-info form .box-body .form-group {
        width: 100%;
    }


    /*.box.box-info form .box-body .form-group.birt-custo label {
        width: 100%;
    }*/

    .box.box-info form .box-body .form-group label {
        margin: 10px 7px;
    }
}


@media screen and (max-width: 767px){
    .main-sidebar, .left-side {
    left: -20px;
    }

    .main-sidebar .sidebar ul.sidebar-menu li a {
    padding-left: 22px;
    }

    .skin-green .user-panel {padding-left: 30px;}

    .skin-green .user-panel .pull-left.info {
        padding: 0px 30px;
    }
   /* .bir-inn2 {
    margin: 5px 18px;
    }*/

    .box.box-info form .box-body .form-group {
        width: 100%;
    }


    /*.box.box-info form .box-body .form-group.birt-custo label {
        width: 100%;
    }
*/
    .box.box-info form .box-body .form-group label {
        margin: 10px 7px;
    }

    .inv-tab-list div#invoice-invoice-list_filter input {
    width: auto;
    }

    .dataTable td:first-child:before {
    content: "";
    }
/*
    .table-responsive {
        overflow: hidden;
    }*/

    .dataTables_length .select2 {
    min-width: 60px;
    width: auto !important;
    }

    table.dataTable tbody tr td {
    height: 35px;
    }
}