/*                                                                             *
 *=============================================================================*
 *                          Style for Responsive POS Screen                    *
 *=============================================================================*
 *                                                                             *
 */

/* for mobile screen*/
@media (max-width: 480px) {
	.pos .contents #item-list .btn {
		width: 33.333%;
	}
	.total-amount-inner .main-amount {
		font-size: 2em;
		font-weight: 700;
	}
	#botbuttons button {
		height: auto;
	}
	.customer-name>input {
		padding: 10px 38px;
	}
	.previous-due {
		right: 38px;
	}
	.previous-due h4 {
		padding: 0 10px;
		font-size: 10px;
	}
	.previous-due span {
		margin-top: 0;
		padding: 0px 5px;
	}
	.add-icon {
		width: 38px;	
	}
	.add-icon img {
		height: 20px;
	    width: 20px;
	    margin: 10px 0 0 10px;
	}
	.skin-black .previous-due span {
		margin-top: 2px;
		border-top: 1px solid #ffffff;
	}
	.pos #list-table-div {
		min-height: 50px;
	}
	.pos .modal-content h3 {
		font-size: 1.4rem;
	}
	#pay-form .title, #pay-form .panel-heading {
		font-size: 2rem;
	}
    .modal-lg {
    	width: auto;
    }
    #total-amount {
    	height: auto;
    }
    #total-amount .total-amount-inner .main-amount {
    	font-size: 3em;
    }
}
/* for width mobile screen*/
@media (min-width: 481px) and (max-width: 767px) {
	.pos .contents #item-list .btn {
		width: 25%;
	}
}
/* for width mobile screen*/
@media (max-width: 767px) {
	#live_datetime {
    	display: none;
    }
    .main-header {
    	background: #008d4c;
    	overflow: hidden;
    }
    .main-header .logo {
    	float: left;
    	width: 30%
    }
    .main-header .navbar-left {
    	display: none;
    }
    .main-header .nav > li > a {
    	padding: 15px 5px;
    }
    .main-header .navbar {
    	float: right;
    	width: 70%;
    }
    .main-header .navbar-custom-menu .navbar-nav > li {
    	display: inline-block;
    }
    .main-header .nav > li > a span {
    	display: none;
    }
	#left-panel {
		width: 100%;
	}
	#right-panel {
		position: absolute;
		visibility: hidden;
	    width: 100%;
	    left: 0;
	    right: 0;
	    z-index: 1101;
	}
	.modal-header .close {
        margin-top: -7px;
        margin-right: -3px;
    }
    #searchbox > input {
    	font-size: 1.4rem;
    	height: 40px;
    }
    #searchbox .search-btn {
		left: 5px;
	}
    #searchbox .category-search {
    	top: 3px;
    	right: 3px;
        width: 150px;
    }
    #searchbox input {
    	padding: 10px 190px 10px 10px;
    	text-indent: 15px;
    }
    .pos .min-height {
    	min-height: auto;
    }
    #minicart {
    	display: block;
		position: absolute;
		width: 50px;
    	height: 40px;
		top: 50%;
		right: 0;
		margin: -25px 0 0 0;
		background-color: #ff9c00;
		border-radius: 3px 0 0 3px;
		box-shadow: 0 0 5px rgba(0,0,0,0.5);
		cursor: pointer;
		z-index: 840;
	}
	#minicart .minicart-content {
		display: table;
		width: 100%;
		height: 100%;
	}
	#minicart .minicart-content .body {
		display: table-cell;
		font-size: 1.4;
		font-weight: 700;
		vertical-align: middle;
		text-align: center;
		color: #ffffff;
	}
}
/* for tablet screen*/
@media (min-width: 768px) and (max-width: 992px) {
	.navbar-left {
        display: none;
    }
	.pos .contents #item-list .btn {
		width: 20%;
	}
	.pos .contents #item-list .btn {
        width: 25%;
    }
}
/* for large screen*/
@media (min-width: 1368px) {
	.pos .contents #item-list .btn {
		width: 12.5%;
	}
}