<div class="iconset noselect">
    <div class="item-list clearfix" ng-click="selectOrUnselect(null, $event)" ng-right-click="selectOrUnselect(null, $event)" prevent="true">
        <div class="col-120" ng-repeat="item in $parent.fileList = (fileNavigator.fileList | filter: {model:{name: query}})" ng-show="!fileNavigator.requesting && !fileNavigator.error">
            <a href="" class="thumbnail text-center" ng-click="selectOrUnselect(item, $event)" ng-dblclick="smartClick(item)" ng-right-click="selectOrUnselect(item, $event)" title="{{item.model.name}} ({{item.model.size | humanReadableFileSize}})" ng-class="{selected: isSelected(item)}">
                <div class="item-icon">
                    <i class="glyphicon glyphicon-folder-open" ng-show="item.model.type === 'dir'"></i>
                    <i class="glyphicon glyphicon-file" data-ext="{{ item.model.name | fileExtension }}" ng-show="item.model.type === 'file' && item.model.name.split('.').pop() !== 'jpg' && item.model.name.split('.').pop() !== 'png' && item.model.name.split('.').pop() !== 'gif' && item.model.name.split('.').pop() !== 'svg' && item.model.name.split('.').pop() !== 'JPEG'" ng-class="{'item-extension': config.showExtensionIcons}"></i>
                    <img id="imagepreview-target" class="preview" alt="{{item.model.name}}" ng-class="{'loading': apiMiddleware.apiHandler.inprocess}" ng-src="{{apiMiddleware.getUrl(item)}}" data-ext="{{ item.model.name | fileExtension }}" ng-show="item.model.name.split('.').pop() === 'jpg' || item.model.name.split('.').pop() === 'png' || item.model.name.split('.').pop() === 'svg' || item.model.name.split('.').pop() === 'JPEG'" ng-class="{'item-extension': config.showExtensionIcons}" width="50" height="50">
                </div>
                {{ item.model.name | filterFIleName : 11 }}
            </a>
        </div>
    </div>

    <div ng-show="fileNavigator.requesting">
        <div ng-include="config.tplPath + '/spinner.html'"></div>
    </div>

    <div class="alert alert-warning" ng-show="!fileNavigator.requesting && fileNavigator.fileList.length < 1 && !fileNavigator.error">
        {{"no_files_in_folder" | translate}}...
    </div>
    
    <div class="alert alert-danger" ng-show="!fileNavigator.requesting && fileNavigator.error">
        {{ fileNavigator.error }}
    </div>
</div>