/*                                                                             *
 *=============================================================================*
 *                          Style for Responsive Purpose                       *
 *=============================================================================*
 *                                                                             *
 */
/* For Mobile Screen*/
@media(max-width: 412px) {
    .dataTables_wrapper .dt-buttons {
        margin-left: -90px;
    }
    .dataTables_wrapper .dt-button {
        padding: 3px 5px;
    }
    .dataTables_wrapper .dt-buttons .fa {
        font-size: 12px;
    }
    #invoice {
        padding: 0;
    }
}
/* For Mobile Screen*/
@media(max-width: 479px) {
    .navbar-custom-menu .navbar-custom-menu>.navbar-nav>li>a span.text {
        display: none;
    }
}
/* For Mobile Screen*/
@media(max-width:480px) {
    .table-row {
        display: block!important;
    }
    .dataTable, .dataTable thead, .dataTable tbody, .dataTable th, .dataTable td, .dataTable tr {
        display: block;
    }
    .dataTable thead tr,
    .dataTable thead th,
    .dataTable tfoot tr,
    .dataTable tfoot th {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .dataTable tr {
        border: 1px solid #ccc;
    }
    .dataTable td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 40%!important;
        white-space: normal;
        text-align: left;
    }
    .dataTable td:before {
        content: attr(data-title);
        position: absolute;
        top: 6px;
        left: 6px;
        width: 35%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: 500;
        color: #1a2229;
        background: #ddd;
        text-align: right;
        border-radius: 3px;
        white-space: nowrap;
    }
    table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
        text-align: center;
        padding-left: 0!important;
        background-color: #dd4b39;
        color: #fff
    }
    .content {
        padding: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .content-header {
        padding: 5px 5px 0 5px;
    }
    .box {
        margin-bottom: 5px;
    }
    .nav > li > a {
        padding: 10px 10px;
    }
    .navbar-custom-menu .navbar-nav > li > a {
        padding: 15px 7px 15px 7px;
        line-height: 20px;
    }
    .navbar-custom-menu ul.nav li a .text {
        display: none;
    }
    .collection-report-container {
        display: none;
    }
    #overview-report table {
        background: #fff;
    }
    #overview-report table thead, 
    #overview-report table tbody, 
    #overview-report table th, 
    #overview-report table td, 
    #overview-report table tr {
        display: block;
    }
    #overview-report table tr {
        border: 1px solid transparent;
        background: #fff;
    }
    #overview-report table td {
        position: relative;
        padding-left: 0!important;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        border: 3px solid #ecf0f5;
        border-radius: 50px;
    }
    #profit-calculation .table td {
        text-align: center;
        padding-left: 0!important;
    }
    #profit-calculation .table td:before {
        content: "";
        width: 100%;
    }
    #profit-calculation .table td {
        font-size: 1.8rem;
    }
    #profit-calculation .table td.bg-gray {
        display: none;
    }

    /* Invoice Start */
    #invoice tr {
        border: none;
    }
    #invoice table {}
    #invoice .table td {
        padding: 5px;
    }
    #invoice table tr.invoice-header td,
    #invoice table tr.invoice-address td,
    #invoice table tr.invoice-authority-cotainer td,
    #selling_bill tr td {
        padding-left: 0!important;
        text-align: center;
    }
    #invoice table tr.invoice-header td:before,
    #invoice table tr.invoice-address td:before,
    #invoice table tr.invoice-authority-cotainer td:before,
    #selling_bill tr td:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        padding-right: 0;
    }
    #invoice table tr.invoice-address td.w-50,
    #invoice table tr.invoice-authority-cotainer td.w-50,
    #selling_bill tr td {
        width: 100%;
        white-space: normal;
    }
    #selling_bill tr td:nth-child(1) {
        font-size: 20px;
        background-color: #ddd;
        font-style: italic;
    }
    #selling_bill tr td:nth-child(2) {
        font-size: 22px;
        font-weight: 700;
    }
    #invoice table tr.invoice-authority-cotainer td {
        margin-bottom: 18px;
    }
    /* Invoice End */

}
/* For Mobile Screen*/
@media(min-width:480px) {
    .customer-profile .balance .info-box,
    .customer-profile .balance .info-box .info-box-icon,
    .supplier-profile .balance .info-box,
    .supplier-profile .balance .info-box .info-box-icon {
        min-height: 220px;
    }
    .customer-profile .balance .info-box-text,
    .supplier-profile .balance .info-box-text {
        font-size: 2.5rem;
        font-size: 700;
    }
}
/* For Width Mobile Screen*/
@media(max-width: 610px) {
    ul.navbar-left, #live_datetime {
        display: none;
    }
    .dashboard .content {
        padding: 5px 9px 5px 0;
        margin: 5px 8px 5px 5px;
    }
    .dataTables_length {
        background: #d2d6de;
        padding: 5px 10px 0 0;
        margin-bottom: 5px;
        border-radius: 50px;
    }
    .dataTables_filter {
        background: #d2d6de;
        padding: 5px 10px 0 0;
        margin-bottom: 5px;
        border-radius: 50px;
    }
    .dataTables_wrapper .dt-buttons {
        position: relative;
        margin: 0;
        left: 0;
        top: 0;
    }
    .dataTables_wrapper .dt-buttons button {
        font-size: 22px;
        padding: 0 10px;
    }
    .dataTables_wrapper .btn-group > .btn, .btn-group-vertical > .btn {
        float: none;
    }
    .dataTables_wrapper .dataTables_length {
        display: block;
        text-align: center;
    }
    .dataTables_wrapper .dataTables_filter {
        float: none;
        display: block;
        text-align: center;
    }
    .dataTables_wrapper .dataTables_info {
        display: block;
        text-align: center;
    }
    .dataTables_wrapper .dataTables_paginate {
        float: none;
        display: block;
        text-align: center;
    }
    .customer-table-data {
        display: block;
        width: 100%;
        padding: 10px;
        height: auto;
    }
    .customer-table-data h2 {
        font-size: 2rem;
    }
    .customer-table-data h3 {
        font-size: 1.6rem;
    }
}
/* For Width Mobile Screen*/
@media(max-width: 767px) {
    body {
        font-size: 16px;
    }
    .main-header .logo .logo-lg {
        font-size: 25px;
    }
    .navbar-left {
        float: left;
    }
    #invoice-form .control-label {
        padding-left: 0;
    }
    .add_delete_btn {
        text-align: center;
    }
    #invoice-form {
        margin-bottom: 10rem;
    }
    #info-bar .total_amount_display, #info-bar .save-btn {
        font-size: 1.8rem;
    }
    .table-responsive {
        border: none;
    }
    .box-tools.pull-right {
        position: relative;
        text-align: center;
    }
    .box-tools.pull-right .btn {
        margin-bottom: 5px;
    }
    .select2 {
        min-width: 60px;
    }
    .modal-header .close {
        margin-top: -3px;
        margin-right: -3px;
    }
}
/* For Tablet Screen*/
@media (min-width: 768px) and (max-width: 992px) {
    .navbar-left {
        display: none;
    }
    .pos .contents #item-list .btn {
        width: 20%;
    }
}
/* For Tablet Screen*/
@media (max-width: 801px) {
   .navbar-custom-menu ul.nav li a .text {
        display: none;
    }
}
/* For Tablet Screen*/
@media(max-width: 991px) {
    #invoice-form .row {
        float: none!important;
    }
    .content-header > .breadcrumb {
        background: #ffffff;
    }
    .dataTables_wrapper .dt-buttons {
        position: relative;
        margin: 0;
        left: 0;
        top: 0;
    }
}